body {
    background-color: #343a40;
    color: #FFF;
    font-weight: 300;
}

p {
    cursor: default;
}

a {
    color: #FFF;
    transition-duration: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #C9BC73;
}

.navbar-brand img {
    width: 45px !important;
}

main {
    background-color: #722F37;
    padding: 70px 0;
}

hr {
    height: 1px;
    background-color: #FFF;
}

span {
    font-size: 1.5rem;
}

.link {
    color: #C9BC73;
}

.hero {

}

.hero h1 {
    font-size: 3em;
}

.hero h3 {
    font-size: 2em;
    font-weight: lighter;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 0;
    width: 100%;
    min-height: 100px;
    background-color: #343a40;
}

.footer img {
    width: 80%;
}

.footer p {
    line-height: 30px;
}

.footer span {
    font-size: 1.5rem;
    line-height: 50px;
}

.footer .special {
    color: #343a40;
}

.footer .special:hover {
    color: #C9BC73;
    text-decoration: underline;
}
