APP_NAME="LINDA Carlstad"
APP_SLOGAN="Linjeförening för datavetare"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://lindacarlstad.se
LOG_CHANNEL=stack

DB_CONNECTION=mariadb
DB_HOST=mariadb
DB_PORT=8889
DB_DATABASE=lindacarlstad
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@lindacarlstad.se
MAIL_FROM_NAME="Linda Carlstad"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_RECAPTCHA_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
GOOGLE_RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

FLICKR_USER_ID=186351439@N02
FLICKR_KEY=2c9d4bde31287dc2d6696710eddb2f95
FLICKR_SECRET=420a322e303df3b8
