//
// Colour variables
//
$primary: #722F37 !important
$secondary: #343a40 !important
$accent: #C9BC73 !important
$text-primary: #FFF !important
$text-secondary: #343a40 !important

//
// Universal elements
//
*
    transition-duration: 0.3s !important
    &:hover
        transition-duration: 0.3s !important

body
    background-color: $secondary
    color: $text-primary
    font-weight: 300
    min-width: 100%

h1, h2, h3
    font-size: 3rem

p
    cursor: default

a
    color: $text-primary
    text-decoration: none !important
    &:hover
        color: $accent

main
    background-color: $primary
    padding: 70px 0

hr
    height: 1px
    background-color: $accent

span
    font-size: 1.5rem

//
// Universal classes
//
.link
    color: $accent

.btn-primary
    background-color: $primary
    border: $secondary

.btn-secondary
    background-color: $secondary
    border-color: $secondary
    color: white
    border-radius: 0.25rem

//
// Layout
//
@media (min-width: 768px) and (max-width: 770px)
    .navbar-expand-md .navbar-nav .nav-link
        padding-left: .4rem
        padding-right: .4rem

.navbar
    z-index: 100 !important
    width: 100%

.navbar-brand img
    width: 45px !important
    &:hover
        filter: blur(1px)

.footer
    position: relative
    right: 0
    bottom: 0
    left: 0
    padding: 50px 0
    width: 100%
    min-height: 100px
    background-color: $secondary

    img
        width: 80%
    p
        line-height: 30px

    span
        font-size: 1.5rem
        line-height: 50px

    .special
        color: $secondary

.footer-copyright
    width: 100%
    text-align: center

//
// Index
//
.image-bg
    position: absolute
    width: 100%
    height: 100vh
    top: 55px
    left: 0
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    filter: blur(0.8px)


.hero
    height: calc(100vh - 55px) !important
    margin-bottom: 10vh !important

//
// Document
//
#documentTab
  border-radius: 5px 5px 0px 0px
  .active
    background-color: $secondary
    border-color: $secondary
    border-bottom-color: $accent
    border-bottom-width: thick
    border-top: none
    border-left: none
    border-right: none
  .nav-item
    border: none !important

#documentli
    .tabUl
      background-color: $secondary
      border: none
      border-radius: 0px 0px 5px 5px
    .tabLi
      list-style-type: none

.nav-tabs
  background-color: $secondary
  border-color: $accent

.tab-content
  background-color: $secondary
  padding: 5px

.nav-tabs > li > a
  &:hover
    background-color: $secondary
    border-color: $secondary
    color: $accent

//
// News
//
.post-image
  width: 342px
  height: 342px

.card-text
  width: 20vw
